body {
  height: 100%; 
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section img{
  width: 100%;
}

iframe{
  display: flex; width: 100%;
}

.section1 {
  background-color: #fff;
}
.section2 {
  background-color: #fff;
}
.banner1 {
  background-image: url("images/index_04.jpg");
  min-height: 730px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner2 {
  background-image: url("images/index_06.jpg");
  min-height: 730px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile { display: none; }

/*-------------------mobile----------------------*/
@media only screen and (max-width:768px) {

  .mobile { display: block; width: 100%; }
  .mobile img{ width: 100%; } 
  .pc{ display: none; }

}